.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    color: #222;
    border-radius: 4px;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: none !important;
}

.card:hover {
    box-shadow: 0px 1px 6px 1px rgba(34, 60, 80, 0.2);
}

.card__img {
    height: 150px;
    max-width: 270px;
}

.card__discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: pink;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.card__like {
    color: crimson;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 0;
    cursor: pointer;
}

.card__name {
    word-wrap: break-word;
}

.card__btn:disabled {
    opacity: .6;
    cursor: default;
}