.logo {
    display: grid;
    gap: 8px;
    justify-content: center;
    justify-items: center;
    text-align: centers;
}

.logo img {
    height: 50px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #ffe44d;
    color: black;
    justify-content: space-between;
    padding: 10px 50px;
    padding-bottom: 200px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header__search {
    flex-basis: 60%
}

.header__ban {
    width: 30%;
    max-width: 350px;
    margin-left: 10%;
}

.header__catalog {
    display: inline-block;
    background-color: #fff;
    color: black;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    box-shadow: 0px 1px 6px 1px rgba(34, 60, 80, 0.2);
}

.header__catalog span {
    vertical-align: middle;
    font-size: 0.8rem;
}

.header__menu {
    display: flex;
    gap: 20px;
    font-size: 24px;
}

footer {
    background-color: #ffe44d;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.footer__cop {
    font-size: 0.7rem;

}

.footer__cell {
    display: grid;
    gap: 20px;
}

.footer__cell div {
    text-align: center;
}