.logo {
    display: grid;
    gap: 8px;
    justify-content: center;
    justify-items: center;
    text-align: centers;
}

.logo img {
    height: 50px;
}

.wrapper__box {
    width: 100%;
    background-color: #ffe44d;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 6px 1px rgba(34, 60, 80, 0.2);
}

header {
    width: 80%;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: space-between;
    padding: 10px 50px;
    padding-bottom: 150px;
    position: relative;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header__nav_scrolled {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.header__search {
    flex-basis: 60%
}

.header__ban {
    width: 30%;
    max-width: 350px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.header__catalog {
    display: inline-block;
    background-color: #fff;
    color: black;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    box-shadow: 0px 1px 6px 1px rgba(34, 60, 80, 0.2);
}

.header__catalog span {
    vertical-align: middle;
    font-size: 0.8rem;
}

.header__menu {
    display: flex;
    gap: 20px;
    font-size: 24px;
}

.badge__el {
    position: relative;
}
.badge__item {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(68, 187, 28, 0.658);
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 0.75rem;
    top: -30%;
    right: -25%;
}

footer {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    width: 80%;
}

.footer__cop {
    font-size: 0.7rem;
}

.footer__cop_desk {
    display: none;
}

.footer__cell {
    display: grid;
    gap: 20px;
}

.footer__cell div {
    text-align: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .footer__contacts p,
.footer__contacts h4 {
    margin: 0;
} */

.footer__menu {
    display: none;
}

@media (max-width: 1040px) {
    header {
        width: 100%;
        padding: 10px 10px;
        padding-bottom: 130px;
    }

    .header__ban {
        width: 90%;
        max-width: 350px;
        margin-left: 10%;
        margin-bottom: 20px;
        font-size: 0.8rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .footer__cop_desk {
        display: block;
    }

    .footer__cell {
        display: none;
    }

    .footer__contacts {
        margin-top: 10px;
        text-align: center;
    }

    .header__menu {
        justify-content: space-around;
    }

    .footer__menu {
        display: flex;
        margin-top: 50px;
        width: 100%;
        box-shadow: 0px 1px 6px 1px rgba(34, 60, 80, 0.2);
        padding: 10px 0;
    }
}